* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.first-wrapper {
    position: sticky;
    top: 0;
    background-color: white;
}

header {
    display: flex;
    justify-content: center;
    /* gap: 50px; */
    /* padding: 5px 0; */
    position: relative;
}

.logol {
    padding: 2px 0;
}

.logol ion-icon {
    font-size: 18px;
    /* border: 2px solid; */
    padding: 6px 25px 0 0;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

header>* {
    /* border: 2px solid; */
}

nav {
    display: flex;
    gap: 30px;
    transition: 0.8s;
    z-index: 99;
    margin: auto 0;
}

.logor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 4px 0;
}

.logor ion-icon {
    font-size: 18px;
    /* border: 2px solid; */
    padding: 5px 0 0 0;
}

.burger {
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 10px 0 0;
    justify-content: center;
    display: none;
}

.lone, .ltwo {
    width: 17px;
    height: 1.5px;
    background: black;
    transition: 0.3s;
}

.ltwo {
    height: 1.3px;
}

.lone-cross {
    transform: translateY(1px) rotate(45deg);
    /* background: red; */
}

.ltwo-cross {
    transform: translateY(-6px) rotate(-45deg);
}

@media (max-width:850px) {
    .burger {
        display: flex;
    }

    .logor {
        gap: 30px;
        margin: 0;
    }

    nav {
        flex-direction: column;
        background: rgb(255, 255, 255);
        width: 100vw;
        height: 100vh;
        justify-content: center;
        padding: 0 30px;
        gap: 20px;
        position: absolute;
        left: 0;
        transform: translateY(-150%);
        /* backdrop-filter: blur(8px); */
        margin: 0;
    }

    nav a {
        font-size: 30px;
        font-weight: 600;
        transform: translateY(-1200%);
        transition: 0.5s;
    }

    .logor, .logol {
        /* display: none; */
        padding: 10px;
    }

    header {
        justify-content: space-between;
        position: sticky;
        top: 0;
    }

    .logor .burger {
        z-index: 100;
    }
}

.nav-appear {
    transform: translateY(0%);
}

.hero {
    background: black;
    padding: 70px 0;
    /* padding-bottom: 0; */
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.hero h1, .hero h3, .hero h4 {
    color: white;
    /* border: 2px solid white; */
    text-align: center;
}

.hero h1 {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 0;
}

.hero h3 {
    font-size: 25px;
    margin-bottom: 15px;
}

.hero h4 {
    margin-bottom: 30px;
    color: gray;
    font-size: 22px;
}

.link-cont {
    display: flex;
    /* border: 2px solid white; */
    justify-content: center;
    gap: 30px;
}

.link-cont button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    color: #2996FD;
    border: none;
    outline: none;
    background: transparent;
    /* border: 2px solid white; */
    font-size: 20px;
    position: relative;
}

.link-cont ion-icon {
    margin: 0;
    padding: 0;
    /* border: 2px solid white; */
    padding: 5px 0 2px 0;
}

.hi{
    /* height: 250px; */
    width: 100%;
    height: auto;
}

@media (max-width:910px) {
    .hi{
        height: 220px;
        transform: translateX(-5%);
    }
}

@media (max-width:771px) {
    .hero {
        position: relative;
        /* height: 100vh; */
    }

    .hi {
        width: 100%;
        height: auto;
        transform: rotate(90deg) translateY(-8%) translateX(50%);
        margin-top: 12%;
        animation: iphoneapp 1s forwards;
    }

}

@media (max-width:445px) {
    .hero h1 {
        font-size: 40px;
    }

    .hero h3 {
        font-size: 21px;
    }
}

@media (max-width:365px) {
    .hero h1 {
        font-size: 40px;
    }

    .hero h3 {
        font-size: 17px;
    }
}

@keyframes iphoneapp {
    to {
        transform: rotate(90deg) translateY(-8%) translateX(0%);

    }
}

.second-page {
    background: white;
}

.second-page h1, .second-page h3 {
    color: black;
}

.second-page img {
    width: 100%;
    height: auto;
    transform:scale(1);
    transition: 1s;
    /* margin-left: 10%; */
    /* border: 2px solid black; */
}

@media (max-width: 1405px) {
    .second-page img {
        margin-top: 10%;
        margin-left: 0%;
        width: 100%;
        height: auto;
    }
}

@media (max-width:910px) {
    .second-page img {
        margin-left: 4%;
        width: 100%;
        height: auto;
    }
}

@media (max-width:771px) {
    .second-page img {
        transform: rotate(0deg) scale(0);
        margin-left: 2%;
        transition: 1s;
    }
    
}

.spi{
    animation: sp 1s forwards;
}

@keyframes sp {
    to{
        transform: rotate(0deg) scale(1.25);
    }
}

.spit{
    animation: spt 1s forwards;
}

@keyframes spt {
    to{
        transform: rotate(0deg) scale(2);
    }
}
